In [752]:
import numpy as np

In [753]:
import pandas as pd

In [754]:
from pomegranate import *

In [755]:
def p_survived(list_x):
    return (list_x[(list_x.Survived == 1)].count() + 1 ) / (list_x.count() + 2)

In [756]:
passenger = DiscreteDistribution( { 'survive': 0.5, 'perish': 0.5 } )

In [757]:
train_data = pd.read_csv('../data/titanic/train.csv', header=0)

In [758]:
gen_male = train_data[train_data.Sex == 'male']

In [759]:
gen_female = train_data[train_data.Sex == 'female']

In [760]:
p_gen_male = p_survived(gen_male)['Sex']

In [761]:
p_gen_female = p_survived(gen_female)['Sex']

In [762]:
len(gen_male), len(gen_female)

(449, 251)

In [763]:
gender = ConditionalProbabilityTable(
            [[ 'survive', 'male',   p_gen_male ],
             [ 'survive', 'female', p_gen_female ],
             [ 'perish', 'male',    1 - p_gen_male ],
	         [ 'perish', 'female',  1 - p_gen_female]], [passenger] )

In [764]:
tclass_1 = train_data[train_data.Pclass == 1]

In [765]:
tclass_2 = train_data[train_data.Pclass == 2]

In [766]:
tclass_3 = train_data[train_data.Pclass == 3]

In [767]:
p_tclass_1 = p_survived(tclass_1)['Pclass']

In [768]:
p_tclass_2 = p_survived(tclass_2)['Pclass']

In [769]:
p_tclass_3 = p_survived(tclass_3)['Pclass']

In [770]:
print p_tclass_1, p_tclass_2, p_tclass_3

0.602339181287 0.489795918367 0.255154639175

In [771]:
train_data.Pclass.median() #So use third class for NaN

3.0

In [772]:
tclass = ConditionalProbabilityTable(
            [[ 'survive', 'first',  p_tclass_1 ],
             [ 'survive', 'second', p_tclass_2 ],
             [ 'survive', 'third',  p_tclass_3 ],
             [ 'perish', 'first',  1 - p_tclass_1 ],
             [ 'perish', 'second', 1 - p_tclass_2 ],
	         [ 'perish', 'third',  1 - p_tclass_3]], [passenger] )

In [773]:
age_1 = train_data[train_data.Age < 20]

In [774]:
age_2 = train_data[(train_data.Age >= 20) & (train_data.Age < 40)]

In [775]:
age_3 = train_data[(train_data.Age >= 40) & (train_data.Age < 60)]

In [776]:
age_4 = train_data[(train_data.Age >= 60) & (train_data.Age < 80)]

In [777]:
age_5 = train_data[(train_data.Age >= 80)]

In [778]:
p_age_1 = p_survived(age_1)['Age']

In [779]:
p_age_2 = p_survived(age_2)['Age']

In [780]:
p_age_3 = p_survived(age_3)['Age']

In [781]:
p_age_4 = p_survived(age_4)['Age']

In [782]:
p_age_5 = p_survived(age_5)['Age']

In [783]:
train_data.Age.median() #so use age_2 for NaN

28.0

In [784]:
age = ConditionalProbabilityTable(
            [[ 'survive', 'age_1',   p_age_1 ],
             [ 'survive', 'age_2', p_age_2 ],
             [ 'survive', 'age_3', p_age_3 ],
             [ 'survive', 'age_4', p_age_4 ],
             [ 'survive', 'age_5', p_age_5 ],             
             [ 'perish', 'age_1',    1 - p_age_1 ],
             [ 'perish', 'age_2',    1 - p_age_2 ],
             [ 'perish', 'age_3',    1 - p_age_3 ],
             [ 'perish', 'age_4',    1 - p_age_4 ],
	         [ 'perish', 'age_5',  1 - p_age_5]], [passenger] )

In [785]:
embark_c = train_data[train_data.Embarked == 'C']

In [786]:
embark_q = train_data[train_data.Embarked == 'Q']

In [787]:
embark_s = train_data[train_data.Embarked == 'S']

In [789]:
p_embark_c = p_survived(embark_c)['Embarked']

In [790]:
p_embark_q = p_survived(embark_q)['Embarked']

In [791]:
p_embark_s = p_survived(embark_s)['Embarked']

In [792]:
embarked = ConditionalProbabilityTable(
            [[ 'survive', 'embark_c',   p_embark_c ],
             [ 'survive', 'embark_q',   p_embark_q ],
             [ 'survive', 'embark_s',   p_embark_s ],
             [ 'perish', 'embark_c',   1-p_embark_c ],
             [ 'perish', 'embark_q',   1-p_embark_q ],
             [ 'perish', 'embark_s',   1-p_embark_s ]], [passenger])

In [793]:
a = 'asdasda'
a.startswith('asd')

True

In [794]:
name_mr = train_data[(train_data.Name.str.contains(', Mr. '))]
name_ms = train_data[(train_data.Name.str.contains(', Miss. '))]
name_mrs = train_data[(train_data.Name.str.contains(', Mrs. '))]
name_mas = train_data[(train_data.Name.str.contains(', Master. '))]
name_other = train_data[~((train_data.Name.str.contains(', Mr. ')) | (train_data.Name.str.contains(', Miss. ')) 
                          |  (train_data.Name.str.contains(', Mrs. ')) | (train_data.Name.str.contains(', Master. '))
                         | (train_data.Name.str.contains(', Master. ')))]

In [796]:
def p_name(xlist, sex, age):
    if age == 'age_1':
        return (xlist[(xlist.Sex == sex) & (xlist.Age < 20)].count() + 1) / (xlist.count() + 10)
    if age == 'age_2':
        return (xlist[(xlist.Sex == sex) & (xlist.Age >= 20) & (xlist.Age < 40)].count() + 1) / (xlist.count() + 10)
    if age == 'age_3':
        return (xlist[(xlist.Sex == sex) & (xlist.Age >= 40) & (xlist.Age < 60)].count() + 1) / (xlist.count() + 10)
    if age == 'age_4':
        return (xlist[(xlist.Sex == sex) & (xlist.Age >= 60) & (xlist.Age < 80)].count() + 1) / (xlist.count() + 10)
    if age == 'age_5':
        return (xlist[(xlist.Sex == sex) & (xlist.Age >= 80)].count() + 1) / (xlist.count() + 10)

In [798]:
name = ConditionalProbabilityTable([[ 'male', 'age_1', 'mr', p_name(name_mr, 'male', 'age_1')['Name']],
                                    [ 'male', 'age_2', 'mr',  p_name(name_mr, 'male', 'age_2')['Name']],
                                    [ 'male', 'age_3', 'mr', p_name(name_mr, 'male', 'age_3')['Name']],
                                    [ 'male', 'age_4', 'mr', p_name(name_mr, 'male', 'age_4')['Name']],
                                    [ 'male', 'age_5', 'mr', p_name(name_mr, 'male', 'age_5')['Name']],
[ 'male', 'age_1', 'ms', p_name(name_ms, 'male', 'age_1')['Name']],
                                    [ 'male', 'age_2', 'ms', p_name(name_ms, 'male', 'age_2')['Name']],
                                    [ 'male', 'age_3', 'ms', p_name(name_ms, 'male', 'age_3')['Name']],
                                    [ 'male', 'age_4', 'ms', p_name(name_ms, 'male', 'age_4')['Name']],
                                    [ 'male', 'age_5', 'ms', p_name(name_ms, 'male', 'age_5')['Name']],
[ 'male', 'age_1', 'mrs', p_name(name_mrs, 'male', 'age_1')['Name']],
                                    [ 'male', 'age_2', 'mrs', p_name(name_mrs, 'male', 'age_2')['Name']],
                                    [ 'male', 'age_3', 'mrs', p_name(name_mrs, 'male', 'age_3')['Name']],
                                    [ 'male', 'age_4', 'mrs', p_name(name_mrs, 'male', 'age_4')['Name']],
                                    [ 'male', 'age_5', 'mrs', p_name(name_mrs, 'male', 'age_5')['Name']],
[ 'male', 'age_1', 'mas', p_name(name_mas, 'male', 'age_1')['Name']],
                                    [ 'male', 'age_2', 'mas', p_name(name_mas, 'male', 'age_2')['Name']],
                                    [ 'male', 'age_3', 'mas', p_name(name_mas, 'male', 'age_3')['Name']],
                                    [ 'male', 'age_4', 'mas', p_name(name_mas, 'male', 'age_4')['Name']],
                                    [ 'male', 'age_5', 'mas', p_name(name_mas, 'male', 'age_5')['Name']],
[ 'male', 'age_1', 'other', p_name(name_don, 'male', 'age_1')['Name']],
                                    [ 'male', 'age_2', 'other', p_name(name_don, 'male', 'age_2')['Name']],
                                    [ 'male', 'age_3', 'other', p_name(name_don, 'male', 'age_3')['Name']],
                                    [ 'male', 'age_4', 'other', p_name(name_don, 'male', 'age_4')['Name']],
                                    [ 'male', 'age_5', 'other', p_name(name_don, 'male', 'age_5')['Name']],
[ 'female', 'age_1', 'mr', p_name(name_mr, 'female', 'age_1')['Name']],
                                    [ 'female', 'age_2', 'mr', p_name(name_mr, 'female', 'age_2')['Name']],
                                    [ 'female', 'age_3', 'mr', p_name(name_mr, 'female', 'age_3')['Name']],
                                    [ 'female', 'age_4', 'mr', p_name(name_mr, 'female', 'age_4')['Name']],
                                    [ 'female', 'age_5', 'mr', p_name(name_mr, 'female', 'age_5')['Name']],
[ 'female', 'age_1', 'ms', p_name(name_ms, 'female', 'age_1')['Name']],
                                    [ 'female', 'age_2', 'ms', p_name(name_ms, 'female', 'age_2')['Name']],
                                    [ 'female', 'age_3', 'ms', p_name(name_ms, 'female', 'age_3')['Name']],
                                    [ 'female', 'age_4', 'ms', p_name(name_ms, 'female', 'age_4')['Name']],
                                    [ 'female', 'age_5', 'ms', p_name(name_ms, 'female', 'age_5')['Name']],
[ 'female', 'age_1', 'mrs', p_name(name_mrs, 'female', 'age_1')['Name']],
                                    [ 'female', 'age_2', 'mrs', p_name(name_mrs, 'female', 'age_2')['Name']],
                                    [ 'female', 'age_3', 'mrs', p_name(name_mrs, 'female', 'age_3')['Name']],
                                    [ 'female', 'age_4', 'mrs', p_name(name_mrs, 'female', 'age_4')['Name']],
                                    [ 'female', 'age_5', 'mrs', p_name(name_mrs, 'female', 'age_5')['Name']],
[ 'female', 'age_1', 'mas', p_name(name_mas, 'female', 'age_1')['Name']],
                                    [ 'female', 'age_2', 'mas', p_name(name_mas, 'female', 'age_2')['Name']],
                                    [ 'female', 'age_3', 'mas', p_name(name_mas, 'female', 'age_3')['Name']],
                                    [ 'female', 'age_4', 'mas', p_name(name_mas, 'female', 'age_4')['Name']],
                                    [ 'female', 'age_5', 'mas', p_name(name_mas, 'female', 'age_5')['Name']],
[ 'female', 'age_1', 'other', p_name(name_don, 'female', 'age_1')['Name']],
                                    [ 'female', 'age_2', 'other', p_name(name_don, 'female', 'age_2')['Name']],
                                    [ 'female', 'age_3', 'other', p_name(name_don, 'female', 'age_3')['Name']],
                                    [ 'female', 'age_4', 'other', p_name(name_don, 'female', 'age_4')['Name']],
                                    [ 'female', 'age_5', 'other', p_name(name_don, 'female', 'age_5')['Name']]],
                                   [gender, age]
                                     )

In [799]:
s1 = State( passenger, name = "passenger" )

In [800]:
s2 = State( gender, name = "gender" )

In [801]:
s3 = State( tclass, name = "class" )

In [802]:
s4 = State( age, name = "age" )

In [803]:
s5 = State( embarked, name="embarked" )

In [804]:
s6 = State ( name, name = "name")

In [805]:
network = BayesianNetwork( "Titanic Disaster" )

In [806]:
network.add_nodes( [ s1, s2, s3, s4, s5, s6 ] )

In [807]:
network.add_edge( s1, s2 )

In [808]:
network.add_edge( s1, s3 )

In [809]:
network.add_edge( s1, s4 )

In [ ]:
network.add_edge( s1, s5)

In [810]:
network.add_edge( s2, s6)

In [811]:
network.add_edge( s4, s6)

In [812]:
network.bake()

In [813]:
def find_age(age):
    if age < 20:
        return 'age_1'
    elif age >= 20 and age < 40:
        return 'age_2'
    elif age >= 40 and age < 60:
        return 'age_3'
    elif age >= 60 and age < 80:
        return 'age_4'
    elif age >= 80:
        return 'age_5'
    else:
        return 'age_2'

In [814]:
def find_class(pclass):
    if pclass == 1:
        return 'first'
    elif pclass == 2:
        return 'second'
    elif pclass == 3:
        return 'third'
    else:
        return 'third'

In [815]:
def find_embark(embark):
    if embark == 'C':
        return 'embark_c'
    elif embark == 'Q':
        return 'embark_q'
    elif embark == 'S':
        return 'embark_s'
    else:
        return 'embark_s'

In [816]:
def find_name(name):
    if name.find('Mr. ') != -1:
        return 'mr'
    elif name.find('Miss. ') != -1:
        return 'ms'
    elif name.find('Mrs. ') != -1:
        return 'mrs'
    elif name.find('Master. ') != -1:
        return 'mas'
    else:
        return 'other'

In [817]:
train_test_data = pd.read_csv('../data/titanic/train_verify.csv', header=0)

In [818]:
train_test_res = []
for row in train_test_data.values:
    observations = {}
    if pd.notnull(row[4]):
        observations['gender'] = row[4]
    if pd.notnull(row[5]):
        observations['age'] = find_age(row[5])
    if pd.notnull(row[2]):
        observations['class'] = find_class(row[2])
    if pd.notnull(row[11]):
        observations['embarked'] = find_embark(row[11])
    if pd.notnull(row[3]):
        observations['name'] = find_name(row[3])

    beliefs = network.forward_backward( observations )
    res = beliefs[0].parameters[0]
    if res['survive'] > res['perish']:
        train_test_res.append(1)
    else:
        train_test_res.append(0)

In [819]:
prediction = zip(train_test_data.Survived, train_test_res)

In [820]:
match_count = 0
for row in prediction:
    if row[0] == row[1]:
        match_count += 1

In [821]:
print "Ratio of correctly predicted rows to total rows for 30% training data", match_count / float(len(train_test_data.PassengerId))

Ratio of correctly predicted rows to total rows for 30% training data 0.811518324607

In [822]:
test_data = pd.read_csv('../data/titanic/test.csv', header=0)

In [823]:
test_res = []
for row in test_data.values:
    observations = {}
    if pd.notnull(row[4]):
        observations['gender'] = row[3]
    if pd.notnull(row[5]):
        observations['age'] = find_age(row[4])
    if pd.notnull(row[2]):
        observations['class'] = find_class(row[1])
    if pd.notnull(row[10]):
        observations['embarked'] = find_embark(row[10])
    if pd.notnull(row[2]):
        observations['name'] = find_name(row[2])
    beliefs = network.forward_backward( observations )
    res = beliefs[0].parameters[0]
    if res['survive'] > res['perish']:
        test_res.append(1)
    else:
        test_res.append(0)

In [824]:
index = ['PassgengerId', 'Survived']
d = {'PassengerId':test_data.PassengerId, 'Survived': test_res}
df = pd.DataFrame(data = d, columns=['PassengerId', 'Survived'])

In [825]:
df.to_csv('../data/titanic/output_final_3.csv', index=False)